<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  
    <form>
        USERID:<input type="number" name="user.id" [(ngModel)]="user.id" ><br>
        PASSWORD:<input type="password" name="user.password" [(ngModel)]="user.password"><br>
        <!--<button (click)="getdetail()">Sign In</button>
        -->
        
        <button (click)="getlogin()">Sign In</button>
        <a routerLink = "/student-signup"><button>Sign Up </button></a> 
       <br>
      </form>
       </div>
<router-outlet></router-outlet>
