<!-- <div >
  <h1 style="text-align:center">
    Welcome to {{ title }}!
  </h1>
</div>
<div id="one" class=" w-50 mx-auto pt-5">
  
    <form>
        USERID:<input type="number" name="user.id" [(ngModel)]="user.id" ><br>
        PASSWORD:<input type="password" name="user.password" [(ngModel)]="user.password"><br>
        <button (click)="getdetail()">Sign In</button>
        
        
        <button class="btn btn-primary" (click)="getlogin()">Sign In</button>
        <a routerLink = "/student-signup"><button class="btn btn-info">Sign Up </button></a> 
      </form>
       </div> -->
       <router-outlet></router-outlet>
